# ignore
/node_modules
jsconfig.json
coffeelint.json
.vscode/

/bak
/config
/ygopro
/windbot
/decks
/decks_save*
/replays
/ssl
/logs
/pm2.logs

*.heapsnapshot
*.tmp
*.bak
*.log
log.*

*.map

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
