# ignore
/node_modules
jsconfig.json
coffeelint.json
.vscode/

password.json
config.*.json
config.user.bak
pm2.json
pre.sh
index.js

/bak
/config
/ygopro
/windbot
/decks
/decks_save*
/replays
/ssl
/ygosrv233
/challonge
/logs
/plugins

*.heapsnapshot
*.tmp
*.bak
*.log
log.*

*.map

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
